# "DEVELOPMENT", "STAGING", "PRODUCTION", "DEMO", "LOCAL"
NEXT_PUBLIC_APP_ENV = "STAGING"

NEXT_PUBLIC_API_BASE_URL="http://localhost:4000/api/v1/"
NEXT_PUBLIC_COOKIE_EXPIRE_IN_SECONDS = 5184000
NEXTAUTH_SECRET = ""
NEXT_PUBLIC_GAMESA_MANUFACTURER_ID = ""
NEXT_PUBLIC_SHOW_RECOMMENDED_PRODUCTS = ""

NEXT_PUBLIC_MIXPANEL_TOKEN=YOUR_PROJECT_TOKEN
NEXT_PUBLIC_USE_MIXPANEL=true
NEXT_PUBLIC_MANUFACTURER_AM_INVITE_ENABLED=false
NEXT_PUBLIC_DISTRIBUTOR_SALESREP_UPDATE=false
NEXT_PUBLIC_HIDE_DISTRIBUTOR_PROGRAMS_FOR_MANUFACTURERS=45,47
NEXT_PUBLIC_SHOW_WAREHOUSES_FOR_DISTRIBUTOR_IDS=65

NEXT_PUBLIC_SPIFF_OPPORTUNITIES_FEATURE="TRUE"

# Create Program Functionality
NEXT_PUBLIC_DISTRIBUTOR_CAN_CREATE_PROGRAM=true
NEXT_PUBLIC_MANUFACTURER_CAN_CREATE_PROGRAM=true
NEXT_PUBLIC_SALESREP_COMPLIANCE_INSIGHT_ENABLED=false

NEXT_PUBLIC_ORDER_FUNCTIONALITY_ENABLED_FOR_DISTRIBUTOR_IDS=1
NEXT_PUBLIC_HIDE_ORDER_UNIT_TYPE_FOR_DISTRIBUTOR_IDS=1
NEXT_PUBLIC_ORDERING_FEATURE_ENABLED = TRUE

#Program Expiration Flag
NEXT_PUBLIC_ENABLE_PROGRAM_EXPIRATION_NOTICE=true

NEXT_PUBLIC_SHOW_SPIFF_TAB_FOR_DISTRIBUTOR_ROLES = true


NEXT_PUBLIC_SHOW_CHAIN_PROGRAMS_FEATURE=true

# Enable Flag To replace "Purchase Volume" Tile with "Enrolled Stores Count" Tile On distributor Dashboard
NEXT_PUBLIC_DISTRIBUTOR_SHOW_ENROLLED_STORES_TILE=true

NEXT_PUBLIC_STORE_PROGRAMMING_ENABLED_FOR_DISTRIBUTOR_IDS=1,39,51,65,496
NEXT_PUBLIC_CHAIN_PROGRAMS_ENABLED_FOR_DISTRIBUTOR_IDS=496
NEXT_PUBLIC_SPIFFS_ENABLED_FOR_DISTRIBUTOR_IDS=1,39,51,65,496
NEXT_PUBLIC_INTERNAL_INITIATIVE_ENABLED_FOR_DISTRIBUTOR_IDS=90000,496
NEXT_PUBLIC_ADVANCED_INSIGHTS_ENABLED_FOR_DISTRIBUTOR_IDS=90000

NEXT_PUBLIC_DEFAULT_UPCOMING_ENABLED_FOR_DISTRIBUTOR_IDS=327

NEXT_PUBLIC_MINIMAL_FEATURE_FOR_SALES_REP_MANAGER_IDS = 1,2,3
NEXT_PUBLIC_ENABLE_STORE_AGGREGATION_V2 = "true"
NEXT_PUBLIC_ENABLED_DSD_DISTRIBUTOR_IDS = 241,

NEXT_PUBLIC_ORDERING_FEATURE_EXCLUDED_WAREHOUSE_IDS=148,147
