BASE_URL="http://localhost:3000"

SUPER_ADMIN_EMAIL=""
SUPER_ADMIN_PASSWORD=""

MAX_STORES_TO_TEST = 3
MAX_STORES_TO_TEST_FOR_MANUFACTURERS = 10

MAX_WORKERS = 5
MAX_RETRIES = 2

# PROGRAM_TIMELINE_TO_TEST = "Current"
PROGRAM_TIMELINE_TO_TEST = "Historical"

EARNINGS_CAP_PERCENTAGE = 0.15
LOCAL = "true"


# S3 Configuration
S3_BUCKET_NAME=independent_program_listings
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...

# Snapshot Storage Mode (local|s3|both)
SNAPSHOT_STORAGE_MODE=s3
